.høyreMeny {
  width: 20rem;
  flex-shrink: 0;
  background-color: var(--a-surface-default);
  border-left: 1px solid var(--ax-border-neutral-subtle);
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
